* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechner {
    flex: 0 0  95%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

#screen {
    width: 100%;
    font-size: 7rem;
    padding: .5rem;
    background: rgb(41, 41, 41);
    color: white;
    border: none;
}

.btn {
    flex: 0 0 33.33%;
    font-size: 2rem;
    padding: 1rem;
}
.btn:hover {
    background: blue;
    transition: background .5s ease-out;
}

.btn-yellow {
    background: yellow;
}
.btn-green {
    background: green;
}
.btn-red {
    background: red;
}
